/* Landing page */
@import "screen";

#landing-page {
  min-height: 800px;
  h1 {
    margin-top: 50px;
    font-family: "Waiting for the Sunrise", arial, sans-serif;
    font-size: 64px;
    text-align: center; }
  #landing-top{
    height: 650px;
    #left-col {
      width:600px;
      h1 {
        margin: 20px 0 30px 0;
        font-family: "Waiting for the Sunrise", arial, sans-serif;
        font-size: 40px;
        line-height: 40px;
        text-align: left; } } }
  #left-col {
    float: left;
    overflow: visible;
    margin-bottom: 50px; }
  #video {
    display: block;
    width: 640px;
    height: 380px; }
  #right-col {
    width: 332px;
    text-align: center;
    float: right;
    #blue_logo { margin-top: 30px;}
    #signup-logo{margin-top: 120px;}
  } 
  #alpha {
    margin-top: 30px;
    width: 332px;
    height: 225px;
    background: url(/assets/alpha.png) no-repeat; }
  #sign-up {
    padding: 0;
    margin: 0;}
  #sign-in {
    clear: right; }
  ol {
    clear: both;
    background: url(/assets/steps.png) no-repeat 160px 0;
    padding: 65px 0 0 50px;
    li {
      float: left;
      width: 195px;
      margin: 0 50px;
      text-align: center; } }
}

#landing-bottom {
  height: 200px; 
  background: transparent url(/assets/landing-page//earthBar.png) no-repeat;
  #bottom-wrapper {
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
    #right-logos {
      width: 270px; 
      border: solid 1px transparent; 
      color: white; 
      font-weight: bold;
      #follow-us-logos {
        width: 150px; 
        border: solid 1px transparent; 
        text-align: right;
        span { margin-right: 30px; }
      }
      #login-logo {
        width: 70px; 
        border: solid 1px transparent; 
        text-align: right;
        span {margin-right: 10px;}
      }
    }
    #left-twitter-updates {
      #twtr-search-widget{ margin: 0px 0 0 5px;}
    }
  }
}


.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666666;
  @include opacity(0.5);
}

.ui-dialog {
  padding: 10px;
  background: white;
  @include box-shadow(#333333 0 0 2px 0px);
  @include border-radius($default_border_radius);
}

.ui-icon-closethick {
  display: block;
  width: 25px;
  height: 25px;
  background: url(/assets/close.png) no-repeat;
  text-indent: -30000px;
  outline: 0;
  float: right;
  margin-left: -3px;
}
