.plan-item-image
	= link_to image_tag(plan_item_image.picture.url, :class => 'thumb'), plan_item_image.picture.url(:thumb)
	= link_to 'Delete', user_image_path(user_image), :method => :delete, :class => 'delete-image'