/*
 * Form styling for Bluey health + fitness
 * Author: Alex Duller
 * Contents:
 * - Global form styling
 * - Devise forms
 * - User profile forms
 * - Editable fields
 */
@import "screen";
@import "jquery-ui-.custom";

$form_input_border: #dddddd;

form {
  display: block;
  margin: 10px 0;
  p {
    margin-bottom: 15px; }
  textarea {
    height: 100px; }
  textarea.small {
    height: 60px; }
  input[type=text], input[type=password], textarea {
    border: 1px solid $form_input_border;
    @include border-radius(10px);
    padding: 5px;
    width: 300px;
    font-size: 100%; }
  input[type=submit], button[type=submit] {
    @extend .grey-button;
    background: $green_bg;
    text-shadow: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    height: 30px;
    margin-top: 5px;
    margin-right: 15px;
    padding: 5px 15px 5px 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    &:hover {
      color: #000000;
      background: $green_bg; }
    }

  input.number {
    width: 50px !important; }
  input.half-size {
    width: 150px; }
  p.number {
    float: left;
    margin-right: 50px; }
}

#error_explanation {
  background: #ff9c99;
  border: 1px solid $error_red;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.field_with_errors {
  color: $error_red;
  display: inline;
}

/* nested forms */

a.add_nested_fields {
    background: none repeat scroll 0 0 #72BC00;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    margin-top: 3px;
    padding: 5px 5px;
    text-shadow: none;
    text-decoration: none;
    &:hover {
      text-decoration :none;
    };
}

a.remove_nested_fields {
  color: transparent;
  text-decoration: none;
  background: transparent url(/assets/delete_small.png) no-repeat;
  padding: 0 3px;
  &:hover {
    color: transparent;
    text-decoration: none;
  }
}

a.small_grey_button {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
    margin-top: 2px;
    padding: 2px 2px;
    text-shadow: none;
    text-decoration: none;
    &:hover {
      text-decoration :none;
    };  
}

/* Devise forms */
#devise {
  margin: 0 auto;
  width: 375px;
  text-align: left;
  #content {
    padding: 10px;
    margin: 50px 20px; }
}

#dialog-form {
  #content {
    margin: 0;
    text-align: left;
    @include box-shadow(none); }
}

#user_forms { @include border-radius($default_border_radius); }

/* User profile */
.user-form  {
  @include clearfix;
  @include border-radius($default_border_radius);
  background: #e5e5e5;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 0;
  h2 {
    color: $text_colour;
    font-weight: bold; }
  fieldset {
    padding: 0;
    margin: 0;
    ul {
      margin-top: 10px;
      li {
        font-size: 12px;
        margin: 2px 0; } } }
  input[type=text], textarea {
    @include border-radius(5px);
    border:solid 2px #DFDFDF;
    height: 18px;
    font-size: 13px;
    width: 270px; }
  textarea {
    resize: none;
    height: 115px; }
  .styled-select select {
    @include border-radius(5px);
    border: solid 2px #DFDFDF;
    background-color: #ffffff;
    color: #6F6F6F;
    padding: 4px;
    height: 30px;
    font-size: 13px;}
  .styled-select select#user_profile_dob_3i{ width: 4em; }
  .styled-select select#user_profile_dob_2i {width: 4em;}
  .styled-select select#user_profile_dob_1i {width: 6em;}
}

/* Editable fields */
.on_the_spot_editing {
  display: block;
  &:hover {
    background: $pale_yellow; }
  form {
    padding: 10px;
    input, textarea {
      display: block;
      width: 300px !important;
      height: 14px !important;
      padding: 5px;
      @include border-radius(10px);
      border: 1px solid $form_input_border; }
    textarea {
      height: 100px !important;
      @include border-radius(10px);
      margin-bottom: 5px; }
    button[type=submit] {
      font-size: 13px; }
    button[type=cancel] {
      @extend .cancel; } }
}

/* New plans form */
#new_plan{
  input[type=text], textarea {
    width: 255px;
    max-width: 255px; }
  .add_plan_item {
    margin: 10px 0; }
  .remove_nested_fields {
    display: block;
    float: left;
    color: $text_colour;
    text-decoration: none;
    margin-right: 20px;
    &:hover {
      color: $blue_bg; } }
  .fields {
    @include clearfix; }
  .plan-item {
    @include clearfix; }
  .item-fields {
    float: left; }
  .styled-select select {
    @include border-radius(5px);
    border: solid 2px #DFDFDF;
    background-color: #ffffff;
    color: #6F6F6F;
    padding: 4px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 13px;}
  .exercise-name {
    width: 720px; }
  .exercise-metrics {
    margin: 5px 0;
    padding: 5px;
    background: $subtle;
    @include border-radius(4px);
    legend {
      @include border-radius(4px);
      background: $subtle - #333333;
      width: 100%;
      padding: 5px;
      margin: 0 -5px;
      color: $text_colour;
      font-size: $small; }
    .fields {
      margin-bottom: 5px;
      padding: 5px;
      background: white;
      p {
        float: left;
        margin: 0 30px 0 0; } } }
  #plan_submit {
    width: $content_width; }
}

.body-part-form {
  display: block;
  height: auto;
  outline: 0 none;
  position: relative;
  background: none repeat scroll 0 0 white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 2px 0 #333333;
  padding: 10px;
  border: 1px solid #5EBDF1;
}

.body-part-form-header {
    background-color: #3BAEEE;
    background-image: none;
    border: 1px solid #5EBDF1;
    border-radius: 4px 4px 0 0;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    height: 25px;
    line-height: 23px;
    padding-top: 3px;
    text-align: center;
}

.body-part-form-content {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #5EBDF1;
  border-radius: 0 0 4px 4px;
  color: #414141;
  padding-top: 5px;
}

.body-part-form-content fieldset {
  /* background-color: #e5e5e5;
  padding-left: 10px;
  margin: 5px 0 0 0; */
}

.body-part-form-content fieldset legend {
  /* font-weight: bold;
  font-size: 1.2em;
  margin: 0px 0 20px; */
}

.body-part-form-content form input[type="submit"] {
  margin: 10px;
}
