@import "screen";

html, body {
  background: #d1def1; 
}

#unsupported_wrapper {
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  text-align: left;
  width: 640px;
  height: 380px; 
}

#unsupported_head {
  padding: 15px 15px 0;
  margin-bottom: 0;
  h1 {
    font-size: 1.5em;
    color: #333333;
    margin: 0 0 20px;
    padding: 30px 30px 0;
  }
}

#unsupported_content {
  padding: 0 45px 35px;
  p, ul { line-height: 1.4em; }
  p {  
    font-size: 1.25em;
    margin: 0 0 10px 0;
    .buttons { margin-top: 30px;}
  &.big { font-size: 2.25em; font-weight: bold;}
  }
}

ul#browser_list {
  border: 1px solid #dddddd;
  @include border-radius($default_border_radius);
  margin: 20px 0;
  padding: 30px 0;
  li {
    width: 150px;
    display: inline;
    margin: 0 0 0 15px;
    .icon { 
      float: left; 
      width: 50px; 
      height: 50px; 
      margin: -10px 0 0 0; 
      a { 
        position: relative;
        img { position: absolute; top: -20px; left: 0; }
      }
    }
    .link {
      float:left;
      margin: -25px 15px 0 5px; 
      p { font-size: 0.85em; text-align: left;}
    }
  }
}

.buttons .submit_button { vertical-align: middle; margin-right:10px;}