/* Goals */
.person {
  float: left;
  position: relative;
  margin-left: 150px;
  width: 250px;
  height: 550px;
}
#man {
  background: url(/assets/man.png);
  li {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/assets/circle.png) no-repeat;
    text-indent: -30000px;
    overflow: hidden;
    cursor: pointer;
    &.selected, &:hover {
      background-position: 0 -20px;
    }
    &#general {
      text-indent: 0;
      width: 50px;
      padding-left: 25px;
      font-size: 11px;
      line-height: 20px;
    }
  }
}

#parts{
  float: left;
  margin-left: 100px;
  width: 350px;
}