@import "dashboard";


/* User profile navigation */
  
#bottom_content_bar.user_profile {
  background-color: #1D2429;
}

#foundation fieldset {
 margin-top:0; 
  padding:0;
}

#foundation_left{  width: 50%; float:left;}

.label_side {
  float:left; 
  text-align: right; 
  margin-right: 10px;
}

#foundation_left .label_side {
  width: 190px;
}

.input_side {
  display: block;
  float:left; 
  margin-top: 0px;
  width: 280px;
}

#foundation_right {
  width: 50%; 
  float:left;
}

#fondation_bottom { text-align: center;}

#userProfileBarWrapper {
  background-color: #1d2429; 
  padding: 10px;
}

#user_profile_bar {
  background-color:#1d2429; 
  color: white; 
  font-size: 0.85em
}

#top_user_profile_bar { overflow: auto;}

#profile-picture { @include border-radius($default_border_radius); }

#personal_data {
  float:left; 
  width: 33%; 
}

#bottom_personal_data , #bottom_personal_data_location { line-height: 14px; }

#bottom_personal_data_summary p {
  font-size: 1.2em;
  font-style: italic;
}

#top_personal_data_left {
  float:left; 
  width: 75%; 
}

#top_personal_data_left h2 {
  font-size: 1.9em; 
  font-weight: bold;
}

#top_personal_data_right {float:left;}

#bottom_personal_data_summary.clear p {
  font-size: 1.2em; 
  font-style: italic;
}

#who_i_am{
  float:left; 
  width: 33%; 
  overflow: auto;
}

#who_i_am ul {}

#who_i_am ul li {line-height: 14px;}

#who_i_am ul li img {text-align: center;}

#what_i_want {
  float:left; 
  width: 31%; 
  overflow: auto;
}

#what_i_want ul {}

#what_i_want ul li {line-height: 14px;}

#what_i_want ul li img {text-align: center;}

#delete_account {
  p img {}
}

#bottom_user_profile_bar.clear {}

#bottom_user_profile_bar ul {}

#bottom_user_profile_bar ul li {line-height: 16px;}

/* Goals */
.person {
  float: left;
  position: relative;
  margin-left: 150px;
  width: 250px;
  height: 550px;
}

#man {
  background: url(/assets/man.png);
  li {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/assets/circle.png) no-repeat;
    text-indent: -30000px;
    overflow: hidden;
    cursor: pointer;
    &.selected, &:hover {
      background-position: 0 -20px;
    }
    &#general {
      text-indent: 0;
      width: 50px;
      padding-left: 25px;
      font-size: 11px;
      line-height: 20px;
    }
  }
}

#parts{
  float: left;
  margin-left: 100px;
  width: 350px;
}

.goal {
  padding: 5px 5px 0;
  @include border-radius($default_border_radius);
  border: solid 1px #D1DEF1; 
  margin-bottom: 5px;
}
.goal legend { font-weight: bold; font-size: 1.2em; line-height: 1.2em; }

p.number { margin-bottom: 5px;}
p.check_goal{ margin: 0; padding: 22px 0 0 0; }

/* Pictures */
#user-images {
  margin-top: 10px;
  min-height: 100px;
}

.user-image {
  width: 100px;
  margin: 0 25px 20px 0;
  float: left;
  position: relative;
  font-size: 12px;
  a, p {
    text-align: center;
    display: block;
    width: 104px;
    display: block;
  }
  .delete-image {
    position: absolute;
    top: -10px;
    right: -15px;
    background: url(/assets/delete_small.png) no-repeat 0 0;
    width: 25px;
    height: 25px;
    z-index: 10000;
    @include hide-text;
    cursor: pointer;
  }
  .use-for-profile {
    font-size: 11px;
    padding-bottom: 5px;
  }
}