%ul.fl.add-plan
	%li
		= link_to '+ Add Plan', new_plan_path, :id => 'add-plan', :class => 'dialog', :title => "New Plan"
#addPlanText.fl
	%p
		%b Available plans are listed below
	%p.small To add new plan click the link on the left

