%h2 All Plans
#contentBar
	= render :partial => "add_plans_link"
	

#content.clear.dashboard{:style => "z-index: 0;"}
	- unless @plans.count > 0
		#no_plan{:style => "min-height: 400px;"}
			%h2 No Plans
	- else
		%ul
			= render :partial => "plan", :collection => @plans, :as => :plan
