= render  "plans_menu"

- content_for :bottom_content_bar do
	#bottom_content_bar.plans
		#filter_bar
			= render "filter_bar"
			= render "search_form"
										
- content_for :bottom_content do
	#contentWrapper{:style => "position:relative;"}
		= render  "plan_list"
